.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  @media (max-width: 1023px) {
    // padding: 20px 0;
  }
  @media (max-width: 767px) {
    padding: 20px 0;
  }
}

.logoBar {
  //   background-color: antiquewhite;
  width: 200px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 100%;
    height: 100%;
  }
  @media (max-width: 1023px) {
    width: 300px;
    height: 70px;
    border: 0;
  }

  @media (max-width: 767px) {
    flex: 1;
    img {
      width: 100px;
      height: 80px;
    }
    h2 {
      font-size: 20px;
    }
    .hideLogoName {
      display: none;
    }
  }
}
.searchBar {
  border: 0.5px solid black;
  border-radius: 10px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  input {
    border: 0;
    padding: 5px 25px 5px 15px;
    outline: none;
  }
  @media (max-width: 1023px) {
    .searchBar {
      input {
        border: 0;
        outline: none;
      }
    }
  }
  @media (max-width: 767px) {
    border: none;
    .searchHide {
      display: none;
    }
    .searchShow {
      display: block;
      padding: 0;
    }
  }
}

.user__info {
  font-size: 25px;
  display: flex;
  gap: 20px;
  @media (max-width: 1023px) {
  }
  @media (max-width: 767px) {
    padding-left: 10px;
    font-size: 20px;
    gap: 5px;
  }
}
