.hero {
  padding: 20px 0;
}
.heroSwiper {
  border-radius: 20px;
  //   border: 1px solid black;
}
.heroImagesSlide {
  a {
    display: flex;
    align-items: center;
  }
  img {
    height: 100%;
    width: 100%;
  }
}
@media (max-width: 1023px) {
  .swiper {
    background-color: aqua;
  }
  .heroSwiper {
    display: flex;
    background-color: bisque;
  }
}
