* {
  margin: 0;
  padding: 0;
}

.product {
  max-width: 1270px;
  margin: 10px auto;

  &__wrapper {
    width: 100%;
    height: 500px;
    display: flex;
  }
  &__swiper {
    width: 100%;
    height: 100%;
  }
  &__images {
    width: 700px;
    height: 100%;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
    }

    &__wrapper {
      width: 100%;
      height: 500px;
      display: flex;
      flex-direction: column;
    }
    &__describtion {
      padding: 10px;
      background-color: aquamarine;
    }
  }

  &__detail {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 20px;
    flex: 1;

    &_title {
      font-family: "Courier New", Courier, monospace;
    }
  }
}

.quantity {
  font-size: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  .buttons {
    display: flex;
    flex-direction: column;
  }
  button {
    padding: 0;
    border: 0;
    background-color: inherit;
  }
}

@media (max-width: 1023px) {
  .product {
    max-width: 1023px;
    margin: 10px 10px;

    &__wrapper {
      width: 100%;
      // height: 500px;
      display: flex;
      flex-direction: column;
    }
    &__amount {
      display: flex;
      flex: 1;
    }
  }
}
