* {
  margin: 0;
  padding: 0;
}

.product {
  height: 500px;
  display: flex;
  flex-direction: row;
  &__images {
    padding: 20px;
    width: 50%;
    display: flex;
    flex-direction: row !important;
    &_slide {
      border: 10px solid black;
      // width: 20%;
      // height: 20%;
      img {
        object-fit: cover;
      }
    }
  }

  &__action {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
    font-family: "Courier New", Courier, monospace;
    padding: 0 25px;
    &_mainInfo {
      font-size: 30px;
    }
    &_description {
      font-size: 20px;
      padding: 10px 30px;
      h2 {
        padding-bottom: 5%;
      }
    }

    &_container {
      display: flex;
      flex-direction: row !important;
      justify-content: flex-start;
      gap: 20%;
    }
  }
}
