* {
  margin: 0;
  padding: 0;
}

.product {
  height: 500px;
  display: flex;
  flex-direction: row;
  &__images {
    padding: 20px;
    width: 50%;
    display: flex;
    flex-direction: row !important;
    Swiper {
      background-color: aqua;
    }
    &_slide {
      width: 20%;
      background-color: aqua;
      height: 20%;
      object-fit: fill;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  &__action {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
    font-family: "Courier New", Courier, monospace;
    padding: 20px;
    &_mainInfo {
      font-size: 30px;
    }
    &_description {
      font-size: 20px;
    }
    &_amount {
    }
  }
}
