* {
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
}

.product {
  // max-width: 1270px;
  margin: 0 0 20px 0d;

  &__wrapper {
    width: 100%;
    height: 500px;
    display: flex;
  }

  &__swiper {
    width: 100%;
    height: 100%;
  }

  &__images {
    width: 700px;
    height: 100%;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
    }

    &__wrapper {
      width: 100%;
      height: 500px;
      display: flex;
      flex-direction: column;
    }
  }

  &__description {
    // padding: 30px 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px 0;
  }

  &__detail {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 20px;
    flex: 1;
  }
}

.quantity {
  font-size: 20px;
  justify-content: space-around;
  display: flex;

  &__user {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    gap: 20px;
  }

  .buttons {
    display: flex;
    flex-direction: column;
  }

  button {
    // padding: 0;
    border: 0;
    background-color: inherit;
  }
}

.stars {
  color: rgb(255, 242, 0);
  font-size: 30px;
}

@media (max-width: 1023px) {
  .product {
    max-width: 1023px;
    // margin: 10px 10px;

    &__wrapper {
      width: 100%;
      height: 700px;
      display: flex;
      flex-direction: column;

      .swiper {
        width: 100%;
      }
    }

    &__images {
      width: 700px;
      height: 70%;
      overflow: hidden;
      margin: 0 auto;

      img {
        width: 100%;
        height: 100%;
      }
    }

    // .swiper-slide {
    // }
    &__amount {
      display: flex;
      flex: 1;
    }

    &__description {
      border-top: 1px solid gray;
      padding: 50px 20px 0 20px;
    }
  }
}

@media (max-width: 767px) {
  .product {
    max-width: 767px;
    display: flex;
    flex-direction: column;
    gap: 50px;

    &__wrapper {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    &__images {
      width: 100%;
      height: 100%;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
      }
    }

    &__detail {
      flex-direction: column;
      padding: 0;
      gap: 5px;
      margin-top: 10px;
    }

    &__description {
      // margin: 20px 0 0 0;
      padding: 10px 0;
    }

    .quantity {
      font-size: 20px;
      display: flex;
      justify-content: space-around;

      &__user {
        display: flex;
        flex: 1;
        align-items: center;
        gap: 10px;
      }
    }
  }
}
